._ {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: 520px;
  background: rgba(244, 164, 96, 0.2);
  border-radius: 10px;
  user-select: none;

  :global {
  }
}
