._ {
  position: fixed;
  left: 20px;
  bottom: 20px;
  overflow: hidden;
  :global {
    li {
      position: relative;
      align-items: center;
      line-height: 2em;
      font-size: var(--ih-fs);
      .direct {
        font-weight: bolder;
        text-align: center;
        width: 2.5em;
      }
      .frame {
        width: 1.875em;
      }
      .attacks {
        display: flex;
        align-items: center;
        font-weight: bolder;
        span {
          display: block;
          $w: 1.56em;
          width: $w;
          height: $w;
          flex-basis: $w;
          border-radius: 50%;
          line-height: $w;
          text-align: center;
          font-size: 0.75em;
          &.lp,
          &.lk {
            color: #00f7ff;
            background: rgba(0, 247, 255, 0.15);
          }
          &.mp,
          &.mk {
            color: #9ae84c;
            background: rgba(154, 232, 76, 0.15);
          }
          &.hp,
          &.hk {
            color: #850606;
            background: rgba(133, 6, 6, 0.15);
          }
        }
      }
    }
  }
}
.vertical {
  top: 20px;
  :global {
    li {
      display: flex;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(90deg, currentColor, rgba(0, 0, 0, 0));
        content: '';
      }
      .frame {
        text-align: right;
      }
      .attacks {
        span {
          margin-right: 4px;
        }
      }
    }
  }
}
.horizontal {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
  right: 20px;
  white-space: nowrap;
  :global {
    li {
      display: inline-flex;
      flex-direction: column-reverse;
      &:after {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(0deg, currentColor, rgba(0, 0, 0, 0));
        content: '';
      }
      .frame {
        text-align: center;
      }
      .attacks {
        flex-direction: column-reverse;
        span {
          margin-top: 4px;
        }
      }
    }
  }
}
