._ {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
  height: 100px;
  background: rgba(244, 164, 96, 0.2);
  border-radius: 10px;
  font-size: 18px;
  :global {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    li {
      $h: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $h;
      height: $h;
      line-height: $h;
      text-align: center;
      &.active {
        background: rgba(244, 164, 96, 0.7);
      }
    }
    .attacks {
      li {
        border-radius: 50%;
      }
    }
  }
}
