._ {
  position: fixed;
  left: 20px;
  bottom: 20px;
  overflow: hidden;
  :global {
    li {
      position: relative;
      align-items: center;
      line-height: 2em;
      font-size: var(--ih-fs);
      .direct {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        text-align: center;
        height: 1em;
      }
      .frame {
        width: 1.875em;
        color: white;
        text-shadow: 0 0 4px black;
        font-weight: bold;
      }
      .attacks {
        display: flex;
        align-items: center;
        font-weight: bolder;
      }
    }
  }
}
.vertical {
  top: 20px;
  :global {
    li {
      display: flex;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(90deg, currentColor, rgba(0, 0, 0, 0));
        content: '';
      }
      .frame {
        text-align: right;
      }
      .direct {
        width: 2.5em;
      }
      .attacks {
        > div {
          margin-right: 4px;
        }
      }
    }
  }
}
.horizontal {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
  right: 20px;
  white-space: nowrap;
  :global {
    li {
      display: inline-flex;
      flex-direction: column-reverse;
      &:after {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(0deg, currentColor, rgba(0, 0, 0, 0));
        content: '';
      }
      .frame {
        text-align: center;
      }
      .direct {
        margin-top: 0.5em;
      }
      .attacks {
        flex-direction: column-reverse;
        > div {
          margin-top: 4px;
        }
      }
    }
  }
}
